<section class="section-about" id="about">
  <div class="container about">
    <div class="about__left">
      <h2 class="about__title title-reset">
        О&nbsp;студии
      </h2>
      <p class="about__descr descr-reset">
        В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно
        синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны:
        высокотехнологичная концепция общественного уклада требует от&nbsp;нас анализа соответствующих условий
        активизации! Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость
        распределения внутренних резервов и&nbsp;ресурсов. Безусловно, граница обучения кадров предоставляет широкие
        возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения
        предполагает независимые способы реализации новых принципов формирования материально-технической и&nbsp;кадровой
        базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического
        участия и&nbsp;нарушающими общечеловеческие нормы этики.
      </p>
    </div>
    <div class="about__right">
      <h3 class="about__subtitle title-reset">
        Подписаться на&nbsp;рассылку
      </h3>
      <form class="about__form">
        <input class="about__input input-reset" type="email" placeholder="Email">
        <button class="about__btn btn-reset">
          Отправить
        </button>
      </form>
    </div>
  </div>
</section>
