<section class="section-contacts" id="contacts">
  <div class="container contacts">
    <div class="contacts__left">
      <h2 class="contacts__title title-reset">
        Контакты
      </h2>
      <div class="contacts__map">
        <div class="contacts__content">
          <h3 class="contacts__subtitle descr-reset">
            Студия &laquo;High pass&raquo;
          </h3>
          <address class="contacts__address">
            <p class="contacts__descr descr-reset">107045, Москва, Даев переулок, дом&nbsp;41, бизнес-центр &laquo;Даев
              Плаза&raquo;, этаж&nbsp;8, офис
              &#8470;&nbsp;82
            </p>
            <a class="contats__link" href="tel:+749542423532">+7&nbsp;495 424-23-532</a>
          </address>
          <button class="contacts__exit btn-reset" aria-label="Закрыть">
            <svg width="20.000000" height="20.000000" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <circle id="Ellipse 18" cx="10.000000" cy="10.000000" r="10.000000" fill="#999999" fill-opacity="1.000000"/>
              <rect id="Rectangle 92" x="6.207153" y="5.500000" width="11.999998" height="1.000000" transform="rotate(45 6.207153 5.500000)" fill="#FFFFFF" fill-opacity="1.000000"/>
              <rect id="Rectangle 93" x="5.591431" y="13.985352" width="12.000001" height="1.000000" transform="rotate(-45 5.591431 13.985352)" fill="#FFFFFF" fill-opacity="1.000000"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="contacts__right">
      <h3 class="contacts__subtitle title-reset">
        Оставить заявку
      </h3>
      <p class="contacts__descr descr-reset">
        Оставьте ваши данные, указав в&nbsp;графе &laquo;Комментарий&raquo; желаемые время и&nbsp;дату съёмки или
        другого мероприятия
      </p>
      <form class="contacts__form form">
        <input class="form__input input-reset" type="text" placeholder="Имя">
        <input class="form__input input-reset" type="email" placeholder="Email">
        <textarea class="form__input form__input_area textarea-reset" placeholder="Комментарий"></textarea>
        <button class="form__btn btn-reset" type="submit">
          Отправить
        </button>
      </form>
    </div>
  </div>
</section>
