<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Всё о фотостудии High pass: контакты, мероприятия, услуги, проекты.</title>
  <link rel="icon" href="img/favicone.png" sizes="16x16 32x32 48x48" type="image/jpg">
  <link rel="preload" href="fonts/Regular-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Regular-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/TTFirsNeue-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/TTFirsNeue-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
</head>
