<section class="section-hero">
  <div class="hero container">
    <article class="hero__block-left">
      <span class="hero__name">Мастер-класс от&nbsp;Игоря Робова</span>
      <h2 class="hero__title title title-reset">
        Неоновый фотосет 2.0 <time datetime="07-07T20:00">7&nbsp;июля 20:00</time>
      </h2>
      <a class="hero__link" href="#">
        Узнать больше
      </a>
      <span class="hero__tag">
        #мастеркласс
      </span>
    </article>
    <div class="hero__block-right wrapper">
      <h3 class="wrapper__title title-reset">
        Работы участников предыдущего мастер-класса
      </h3>
      <ul class="wrapper__photo list-reset">
        <li class="wrapper__photo-top">
          <picture class="wrapper__photo-one">
            <source srcset="/img/hero2-320.png" media="(max-width: 338px)" />
            <source srcset="/img/hero2-1920.png" media="(max-width: 693px)" />
            <source srcset="/img/hero2-768.png" media="(max-width: 962px)" />
            <source srcset="/img/hero2-1024.png" media="(max-width: 1500px)" />
            <img class="wrapper__img" src="/img/hero2-1920.png" alt="Девушка на фоне неоновых огней" />
          </picture>
        </li>
        <li class="wrapper__photo-left">
          <picture class="wrapper__photo-two">
            <source srcset="/img/hero3-320.png" media="(max-width: 338px)" />
            <source srcset="/img/hero3-1920.png" media="(max-width: 693px)" />
            <source srcset="/img/hero3-768.png" media="(max-width: 962px)" />
            <source srcset="/img/hero3-1024.png" media="(max-width: 1500px)" />
            <img class="wrapper__img" src="/img/hero3-1920.png" alt="Девушка на фоне неоновых разноцветных огней" />
          </picture>
        </li>
        <li class="wrapper__photo-right">
          <picture class="wrapper__photo-three">
            <source srcset="/img/hero4-320.png" media="(max-width: 338px)" />
            <source srcset="/img/hero4-1920.png" media="(max-width: 693px)" />
            <source srcset="/img/hero4-768.png" media="(max-width: 962px)" />
            <source srcset="/img/hero4-1024.png" media="(max-width: 1500px)" />
            <img class="wrapper__img" src="/img/hero4-1920.png" alt="Девушка на фоне неоновых разноцветных огней" />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
